# ------------------------------------------------------------------------
# User Constraint File (.ucf) of Main FPGA on SAKURA-G (SAKURA-G-R1)
#
# Copyright (C) 2012,2013 MORITA TECH CO.,LTD.
#
# File name      : sakura_g_main_r1.ucf
# Version        : 1.0
# Date           : Jun/15/2013
# Board Revision : SAKURA-G-R1
# ------------------------------------------------------------------------
# Timing -----------------------------------------------------------------
#NET "M_CLK_OSC" TNM_NET = "CLK_OSC_GRP" ;
#TIMESPEC "TS_CLK_OSC" = PERIOD : "CLK_OSC_GRP" : 48 MHz HIGH 50.0% ;
NET "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD "clk" 24 MHz HIGH 50%;

# Pin --------------------------------------------------------------------
# ------------
# Clock, Reset
# ------------
NET "clk"         LOC="J1"   | IOSTANDARD="LVCMOS25" ;                        # IO_L43N_GCLK22_IRDY2_M3CASN_3
NET "clkout"         LOC="P3"   |IOSTANDARD="LVCMOS25" ;                        # IO_L43N_GCLK22_IRDY2_M3CASN_3
# --------
# User LED
# --------
NET "led<0>"             LOC="M2"   |IOSTANDARD="LVCMOS25" |SLEW="QUIETIO" |DRIVE=2 |TIG ; # IO_L38P_M3DQ2_3
NET "led<1>"             LOC="N1"   |IOSTANDARD="LVCMOS25" |SLEW="QUIETIO" |DRIVE=2 |TIG ; # IO_L37N_M3DQ1_3
NET "dsuact"             LOC="P1"   |IOSTANDARD="LVCMOS25" |SLEW="QUIETIO" |DRIVE=2 |TIG ; # IO_L36N_M3DQ9_3
NET "alarmout"             LOC="P2"   |IOSTANDARD="LVCMOS25" |SLEW="QUIETIO" |DRIVE=2 |TIG ; # IO_L36P_M3DQ8_3
NET "error"             LOC="R1"   |IOSTANDARD="LVCMOS25" |SLEW="QUIETIO" |DRIVE=2 |TIG ; # IO_L35N_M3DQ11_3

# --------
# User GPIO
# --------
NET "gpio<0>"             LOC="A4"   |IOSTANDARD="LVCMOS25"  ; # IO_L34N_M3UDQSN_3
NET "gpio<1>"             LOC="B6"   |IOSTANDARD="LVCMOS25"  ; # IO_L34P_M3UDQS_3
NET "gpio<2>"             LOC="A7"   |IOSTANDARD="LVCMOS25"  ; # IO_L33N_M3DQ13_3
NET "gpio<3>"             LOC="A8"   |IOSTANDARD="LVCMOS25"  ; # IO_L34N_M3UDQSN_3
NET "gpio<4>"             LOC="C5"   |IOSTANDARD="LVCMOS25"  ; # IO_L34P_M3UDQS_3
NET "gpio<5>"             LOC="C6"   |IOSTANDARD="LVCMOS25"  ; # IO_L33N_M3DQ13_3
NET "gpio<6>"             LOC="C7"   |IOSTANDARD="LVCMOS25"  ; # IO_L32N_M3DQ15_3
NET "gpio<7>"             LOC="C17"   |IOSTANDARD="LVCMOS25"  ; # IO_L32P_M3DQ14_3
# ----------------
# User Push Switch
# ----------------
NET "RESETN"          LOC="D3"   |IOSTANDARD="LVCMOS25" |TIG ; # IO_L81N_3
# ---------------
# User DIP Switch
# ---------------
NET "boot_select"         LOC="D1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L50N_M3BA2_3 
NET "switch<0>"           LOC="B2"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L54P_M3RESET_3
NET "switch<1>"           LOC="B1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L54N_M3A11_3
NET "switch<2>"           LOC="C1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L52N_M3A9_3
NET "switch<3>"           LOC="D2"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L50P_M3WE_3
NET "dsuen"           LOC="E1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L48N_M3BA1_3 
NET "dsubre"	      LOC="F2"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L46P_M3CLK_3
NET "alarmin"	      LOC="F1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L46N_M3CLKN_3
# ---------------
# User Header Pin
# ---------------
NET "triggerout<0>"          LOC="A11"   |IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
NET "triggerout<1>"          LOC="A12"   |IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
NET "triggerout<2>"          LOC="B12"   |IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
NET "triggerout<3>"          LOC="A13"   |IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
NET "DebugUart_RX"          LOC="A5"   | IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
NET "DebugUart_TX"          LOC="A6"   | IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
NET "PeriphUart_RX"          LOC="B8"   | IOSTANDARD="LVCMOS25" ; # IO_L6P_0
NET "PeriphUart_TX"          LOC="A9"   | IOSTANDARD="LVCMOS25" ; # IO_L8N_VREF_0
NET "extsave"         LOC="A16"  | IOSTANDARD="LVCMOS25" ; # IO_L48N_0
#NET "alarmin"         LOC="B14"  | IOSTANDARD="LVCMOS25" ; # IO_L50P_0
#NET "alarmout"         LOC="B16"  | IOSTANDARD="LVCMOS25" ; # IO_L63P_SCP7_0
NET "alarm1_emsensor"         LOC="A14"  | IOSTANDARD="LVCMOS25" ; # IO_L64N_SCP4_0
NET "alarm2_aesenc"         LOC="B14"  | IOSTANDARD="LVCMOS25" ; # IO_L66N_SCP0_0
NET "alarm3_aesdec"         LOC="A15"  | IOSTANDARD="LVCMOS25" ; # IO_L66P_SCP1_0
# -----------------------
# Main FPGA Configuration
# -----------------------
NET "spi_sck"            LOC="W17"  | IOSTANDARD="LVCMOS25" ; # IO_L1P_CCLK_2
NET "spi_csn"              LOC="AB5"  | IOSTANDARD="LVCMOS25" ; # IO_L65N_CSO_B_2
NET "spi_miso"        LOC="Y17"  | IOSTANDARD="LVCMOS25" ; # IO_L3P_D0_DIN_MISO_MISO1_2
NET "spi_mosi"         LOC="AB17" | IOSTANDARD="LVCMOS25" ; # IO_L3N_MOSI_CSI_B_MISO0_2
